body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #72757a;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Lobster", cursive;
  color: #ee6c4d;
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  color: #ee6c4d;
  letter-spacing: 3px;
  line-height: 65px;
}

h3 {
  letter-spacing: 1.5px;
  line-height: 40px;
}

/* navigation and banner */

#nav-and-banner {
  width: 100%;
  height: auto;
  background-image: url(./Images/Banner\ Image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container-fluid {
  padding: 3% 8%;
}

.nav-options {
  display: flex;
  justify-content: end;
}

.nav-item {
  font-size: 2rem;
  padding: 15px 15px 0 0;
  color: #4d535f;
}

.nav-item:hover {
  color: #ee6c4d;
  cursor: pointer;
}

.pin-icon {
  display: none;
} /*will display on max screen size 550px*/

.email-icon {
  display: none;
} /*will display on max screen size 550px*/

/* buttons */

.page-button {
  background-color: #ee6c4d;
  color: #fff;
  border: #fff;
  padding: 5px 20px;
}

.banner-button {
  margin-top: 5%;
  margin-bottom: 8%;
  border-radius: 10px;
}

.intro-button {
  display: none;
}

.gallery-button {
  margin-left: 35%;
  margin-top: 5%;
}

.find-us-button {
  margin-left: 60%;
}

/* about-club */

#about-club {
  background-color: #293241;
}

.intro p {
  color: white;
  letter-spacing: 1.5px;
  line-height: 25px;
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 3%;
}

.gallery-item {
  margin: 0 auto 15px;
  width: 407px;
  padding: 2% 5px 0;
}

.gallery img {
  width: 100%;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}

.gallery-action {
  width: 100%;
  height: 82px;
  background-color: #e0fbfc;
  border-radius: 0 0 4px 4px;
}

.gallery-action span {
  padding-left: 15px;
}

/* Contact-section */

#contact-section {
  background-image: url(./Images/misty\ slope.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-info-container {
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info-item {
  width: 407px;
  height: 407px;
  margin: 0 auto;
  background-color: rgb(41, 50, 65, 0.7);
  color: #fff;
}

.find-us {
  border-radius: 50%;
  margin-bottom: 30px;
}

.find-us h3 {
  width: 80%;
  padding: 5% 15% 0;
}

.location-icon {
  margin-top: 50px;
  padding: 0 45%;
  font-size: 2rem;
  color: #fff;
}

.contact-us {
  padding: 2% 15px;
  border-radius: 4px;
}

label {
  display: block;
}

/*Footer*/

footer {
  background-color: #e0fbfc;
  font-family: Open Sans;
  text-align: center;
  margin: 0;
}

footer a {
  color: #0d60f0;
}

footer a:hover {
  color: #293241;
}

footer i {
  margin: 5px;
  color: #ee6c4d;
}

footer p {
  margin: 5px;
  font-size: 12px;
  text-align: center;
}

/* Responsive styling */

@media (max-width: 790px) {
  .banner-button {
    margin-bottom: 2%;
  }
  h1 {
    font-size: 3rem;
    margin-bottom: 0;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 50px;
  }
}

@media (max-width: 550px) {
  .nav-item {
    font-size: 1rem;
    display: block;
  }
  .pin-icon {
    padding-right: 50px;
  }

  .email-icon {
    padding-right: 50px;
  }

  .title-location-span {
    font-size: 10px;
  }

  .banner-button {
    display: none;
  }

  .intro-button {
    display: block;
  }
}

@media (max-width: 510px) {
  .find-us {
    border-radius: 4px;
  }
}
